.main {
  width: 100%;
}
  
.project {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-display{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

.project-display img{
  width: 50%;
}

.project-description{
  padding: 0 20px;
}
  
  .project h1 {
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .project button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .project button:hover {
    background-color: #003580;
  }
  